<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- use rosbag play with the clock option  -->
  <param name="use_sim_time" value="true" />

  <!-- load the frontier in the parameter server -->
  <include file="$(find frontier_description)/launch/load.launch">
    <arg name="simulation" value="true" />
  </include>

  <!-- advertise the fixed TF from the robot model -->
  <node name="frontier_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- undistort the point clouds from Ouster (using the old driver conventions, before firmware 1.12) -->
  <node name="lidar_undistortion" pkg="lidar_undistortion_ros" type="ouster_undistortion_node" output="screen">
    <rosparam command="load" file="$(find lidar_undistortion_ros)/config/frontier_undistortion.yaml" />
    <!-- load the old ouster config file istalled on frontier for Newer College Dataset-->
    <param name="ouster_config_file" value="$(find lidar_undistortion)/config/os1_64_gen1_fw_112_sn_991920100092.json" />
  </node>

  <!-- open up RViz -->
  <node name="frontier_undistortion_rviz" pkg="rviz" type="rviz" args="-d $(find lidar_undistortion_ros)/config/ouster_undistortion.rviz" output="log" />
</launch>
